<div class="menu l">
    	<ul>
    	  <!-- ==================生产管理类模块==================== -->
          <li style="border:none;"><a href="#this" id="User" onclick="menu(this,'User','Userclose')" class="more_icon User">
          		<span><font>个人账户</font></span></a>
                <ol id="Userol">
					<li><a href="#" id="ActiveAnalysis" class="ActiveAnalysis">工作写实</a></li>
					<li><a href="#" id="User_Time" class="User_Time">安全生产</a></li>
                    <li><a href="#" id="User_Area"  class="User_Area">修改密码</a></li>
                </ol>	
          </li>           
          
		  <li><a href="#this" onclick="menu(this,'Channel','Channelclose')" id="Channel" class="more_icon Channel"><span><font>设备管理</font></span></a>
				<ol id="Channelol">
                	<li><a href="#" id="PartnerData" class="PartnerData">设备台帐</a></li>
                	<li><a href="#" id="PartnerData" class="PartnerData">技术台帐</a></li>
                    <li><a href="#" id="PartnerData" class="PartnerData">线路管理</a></li>
                    <li><a href="#" id="PartnerData" class="PartnerData">钢轨管理</a></li>
                    <li><a href="#" id="PartnerData" class="PartnerData">桥隧管理</a></li>
                    <li><a href="#" id="PartnerData" class="PartnerData">道口管理</a></li>
                    <li><a href="#" id="PartnerData" class="PartnerData">自轮转设备管理</a></li>
                </ol>
           </li>
         
           <li><a href="#this" onclick="menu(this,'CustomEvent','CustomEventclose')"  id="CustomEvent" class="CustomEvent more_icon"><span><font>监测数据分析</font></span></a>
          		<ol id="CustomEventol">
            	    <li ><a href="#" id="CustomEventProperty" class="CustomEventProperty">数据资料查看</a></li>
                    <li><a href="#" id="CustomEventProperty" class="CustomEventProperty">历史数据对比</a></li>
                    <li><a href="#" class="CustomEventProperty">数据分析</a></li>
                    <li><a href="#" class="CustomEventProperty">数据报告</a></li>
                </ol>
           </li>
           
            <li><a href="#this" onclick="menu(this,'SafetyWork','SafetyWorkclose')"  id="SafetyWork" class="SafetyWork more_icon"><span><font>安全生产</font></span></a>
          		<ol id="SafetyWorkol">
            	    <li ><a href="#" id="CustomEventProperty" class="CustomEventProperty">问题库</a></li>
                    <li><a href="#" id="CustomEventProperty" class="CustomEventProperty">生产计划</a></li>
                    <li><a href="#" class="CustomEventProperty">日作业计划及完成</a></li>
                </ol>
           </li>
            </li>
             <li><a href="#this" onclick="menu(this,'ConstEvent','ConstEventclose')"  id="ConstEvent" class="ConstEvent more_icon">
                     <span><font>施工管理</font></span>
                </a>
          		<ol id="ConstEventol">
            	    <li ><a href="#" id="CustomEventProperty" class="CustomEventProperty">施工命令</a></li>
                    <li><a href="#" id="CustomEventProperty" class="CustomEventProperty">施工信息</a></li>
                    <li><a href="#" id="CustomEventProperty" class="CustomEventProperty">信息查询</a></li>
                </ol>
             </li>
          

            <!-- ==================工作管理类模块==================== -->
            <li ><a></a></li>
            <li style="border:none;"><a >工作管理</a></li>
            <li><a href="#this" onclick="menu(this,'OfficalDocument','OfficalDocumentclose')"  id="UserEvent" class="OfficalDocument more_icon">
                     <span><font>公文系统</font></span>
                </a>
          		<ol id="OfficalDocumentol">
            	    <li ><a href="#" id="CustomEventProperty" class="CustomEventProperty">公文系统</a></li>
                    <li><a href="#" id="CustomEventProperty" class="CustomEventProperty">日常工作</a></li>
                </ol>
             </li>
             <li ><a href="#this" onclick="menu(this,'Person','Personclose')" id="ParticipateIn" class="more_icon Person" >
          	 <span><font>人员管理</font></span></a>
          		<ol id="Personol" >
					<li><a href="#" id="ParticipateIn_Retain" class="ParticipateIn_Retain">干部管理</a></li>
                    <li><a href="#" class="FirstDayKeepInfo">工人管理</a></li>
					<li><a href="#" id="UserLifeCycle" class="UserLifeCycle">考勤记录</a></li>
                </ol>
         
          
     </ul>
</div>