{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block header %}
{% include "AcmeMainBundle::header.html.twig" %}
{% endblock %}

{% block menu %}
{% include "AcmeMainBundle::menu_l.html.twig" %}
{% endblock %}

{% block content%}
<h1> 部门列表  </h1>
<table>
	<tr>
		<td>部门编号</td><td>部门名称</td><td>上级主管</td><td>成员</td>
	</tr>
{% for item in department %}
	<tr>
		<td>{{ item.id }}</td>
		<td>{{ item.name }}</td>
		<td>{% if item.fatherid>0 %}
		{{ item.father.name }}
		{% else %}
		直属
		{% endif %}</td>
		<td>
			{% for user in item.user %}
			<font>{{ user.person.realname }}<font>|
			{% endfor %}
		</td>
	</tr>
{% endfor %}

</table>

{% endblock %}