{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block header %}
{% include "AcmeMainBundle::header.html.twig" %}
{% endblock %}

{% block menu %}
{% include "AcmeMainBundle::menu_l.html.twig" %}
{% endblock %}

{% block content%}
	<div class="maxbox">
		<form action="{{ url('create_user') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<div><input type="submit" /></div>
		</form>
	</div>
	

{% endblock %}