<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">铁路工务信息管理系统</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="#contact">日常办公</a></li>
            <li class="active"><a href="#">设备管理</a></li>
            <li><a href="#about">安全生产</a></li>
            <li><a href="#contact">数据分析</a></li>  
            <li><a href="">施工管理</a></li>    
            <li><a href="">人员管理</a></li> 
          </ul>
          <ul class="nav pull-right">
	          <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">刘庆杰 <b class="caret"></b></a>
	            <ul class="dropdown-menu">
                <li><a href="#">个人信息</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">退出系统</a></li>
                <li><a href="#">后台管理</a></li>
                <li class="divider"></li>
	              <li><a href="">帮助</a></li>
	            </ul>
	          </li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</div>